/* importacion de tipografia */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,900&display=swap');

/* selector universal */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-color: aqua;
}

/* selector de etiqueta */
h1 {
    /* font-family: 'Poppins'; */
    font-weight: 900;
    color: rgb(230, 247, 0);
}

/* selector de etiqueta */
h2 {
    color: rgba(0, 0, 0, 0.247);
}

/* selector de id */
#site_text {
    background-color: rgb(255, 140, 0);
}

/* selector de clase */
.subtitles {
    /* font-family: 'Poppins'; */
}

/* selector por atributo */
input[disable] {
    background-color: aqua;
}

/* selector por id - boton enviar */
#btn_send {
    margin: 50px;
    padding: 50px;

}

/* selector por pseudoclase */
#btn_send:hover {
    background-color: rgb(243, 0, 41);
    color: blueviolet;
    font-size: 20px;
}

#papa {
    margin-left: 50px;
    border: 2px double rgb(4, 228, 4);
    border-radius: 10px;
}

.hermanos {
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px;
}

#nh_uno {
    color: blueviolet;
}

/* selector descendente hijo */
#papa>.hermanos>#nh_uno {
    color: rgb(94, 94, 94);
}

#papa .nieto {
    color: rgb(0, 0, 0);
}

span {
    color: blue;

}

#title_box {
    color: black;
    font-family: 'Poppins' sans-serif;
    background-color: azure;
    text-align: center;
    padding-left: 20px;
    margin: 50px;
    border: 1px dashed black;
    border-radius: 10px;
    box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.1);
    word-spacing: 15px;
    letter-spacing: 15px;
    font-size: 15px;
}

#box_father {
    border: 1px solid #000;
    width: 200px;
    border-radius: 10px;
    height: 200px;
    margin-left: 20px;
    background-image: url(https://i.pinimg.com/736x/00/8a/a4/008aa48c412fecfffe26b8fb8ec662b4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 800px)and (max-width: 1280px) {

    body {
        background-color: red;
    }

    h1 {
        text-align: center;
    }
}

@media (max-width:799px) {
    body {
        background-image: url(https://i.pinimg.com/736x/00/8a/a4/008aa48c412fecfffe26b8fb8ec662b4.jpg) ;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
        }

    }